/* ------------------
 * Global style
 * --------------- */

body {
  background-color: #eee;
}

a {
  color: #3354AA;
}

a:hover,
a:active {
  color: #444;
}

pre,
code {
  background: #F3F3F3;
}

code {
  color: #B94A48;
}

pre code {
  color: #444;
}

blockquote {
  border-color: #eee;
  color: #666;
}

table {
  border-color: #ddd;
}

table th,
table td {
  border-color: #eee;
}

table th {
  background: #f3f3f3;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  border-color: #E9E9E9;
}


/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-color: #EEE;
}

/* ------------------
 * Header
 * --------------- */

#header,
#footer {
  background: #ede796;
}

#outbox {
  background: #eee;
  border-color: #333;
}

#side-btn {
  background: #EEE;
}

/* 移动端适配 */
@media screen and (max-width: 700px) {
  #left {
    background: #EEE;
  }
}


/* ------------------
 * Main
 * --------------- */

.post {
  border-color: #DDD;
}

.post-meta li {
  border-color: #ddd;
}

.post-near {
  color: #999;
}

.archive-title {
  color: #999;
}

/* Page nav */
.page-navigator a:hover {
  background: #EEE;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

/* ------------------
 * Comment list
 * --------------- */

.comment-list li {
  border-color: #EEE;
}

.comment-list li.comment-level-odd {
  background: #F6F6F3;
}

.comment-list li.comment-level-even {
  background: #FFF;
}

.comment-list li.comment-by-author {
  background: #FFF9E8;
}

.comment-meta a {
  color: #999;
}

.comment-author {
  color: #444;
}

/* Comment reply */
.comment-list .respond {
  border-color: #EEE;
}

#comment-form .required:after {
  color: #C00;
}

/* -----------------
 * Content format
 *--------------- */

.post-content a img,
.comment-content a img {
  background: #FFF;
}

.post-content hr,
.comment-content hr {
  border-color: #E9E9E9;
}