[data-darkreader-inline-bgcolor] {
  background-color: var(--darkreader-inline-bgcolor) !important;
}

[data-darkreader-inline-bgimage] {
  background-image: var(--darkreader-inline-bgimage) !important;
}

[data-darkreader-inline-border] {
  border-color: var(--darkreader-inline-border) !important;
}

[data-darkreader-inline-border-bottom] {
  border-bottom-color: var(--darkreader-inline-border-bottom) !important;
}

[data-darkreader-inline-border-left] {
  border-left-color: var(--darkreader-inline-border-left) !important;
}

[data-darkreader-inline-border-right] {
  border-right-color: var(--darkreader-inline-border-right) !important;
}

[data-darkreader-inline-border-top] {
  border-top-color: var(--darkreader-inline-border-top) !important;
}

[data-darkreader-inline-boxshadow] {
  box-shadow: var(--darkreader-inline-boxshadow) !important;
}

[data-darkreader-inline-color] {
  color: var(--darkreader-inline-color) !important;
}

[data-darkreader-inline-fill] {
  fill: var(--darkreader-inline-fill) !important;
}

[data-darkreader-inline-stroke] {
  stroke: var(--darkreader-inline-stroke) !important;
}

[data-darkreader-inline-outline] {
  outline-color: var(--darkreader-inline-outline) !important;
}

[data-darkreader-inline-stopcolor] {
  stop-color: var(--darkreader-inline-stopcolor) !important;
}

[data-darkreader-inline-bg] {
  background: var(--darkreader-inline-bg) !important;
}

[data-darkreader-inline-invert] {
  filter: invert(100%) hue-rotate(180deg);
}

:root {
  --darkreader-neutral-background: #181a1b;
  --darkreader-neutral-text: #e8e6e3;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}

@layer {
  html {
    background-color: rgb(24, 26, 27) !important;
  }

  html {
    color-scheme: dark !important;
  }

  iframe {
    color-scheme: dark !important;
  }

  html,
  body {
    background-color: rgb(24, 26, 27);
  }

  html,
  body {
    border-color: rgb(115, 107, 94);
    color: rgb(232, 230, 227);
  }

  a {
    color: rgb(51, 145, 255);
  }

  table {
    border-color: rgb(84, 91, 94);
  }

  mark {
    color: rgb(232, 230, 227);
  }

  ::placeholder {
    color: rgb(178, 171, 161);
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: rgb(64, 68, 0) !important;
    color: rgb(232, 230, 227) !important;
  }

  ::selection {
    background-color: rgb(0, 77, 170) !important;
    color: rgb(232, 230, 227) !important;
  }
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
}

legend {
  color: inherit;
}

body {
  background-color: rgb(34, 36, 38);
  color: rgb(189, 183, 175);
}

a,
#dark-btn {
  color: rgb(114, 160, 213);
}

a:hover,
a:active {
  color: rgb(189, 183, 175);
}

pre,
code {
  background-color: rgb(31, 33, 35);
}

code {
  color: rgb(192, 92, 90);
}

pre code {
  color: rgb(189, 183, 175);
}

blockquote {
  border-left-color: rgb(53, 57, 59);
  color: rgb(168, 160, 149);
}

table {
  border-color: rgb(58, 62, 65);
}

table th,
table td {
  border-color: rgb(53, 57, 59);
}

table th {
  background-color: rgb(31, 33, 35);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  border-color: rgb(54, 59, 61);
}

.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-bottom-color: rgb(53, 57, 59);
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: transparent;
}

#header,
#footer {
  background-color: rgb(80, 75, 14);
}

#logo {
  color: rgb(200, 195, 188);
}

.description {
  color: rgb(189, 183, 175);
}

#outbox {
  background-color: rgb(34, 36, 38);
  border-color: rgb(123, 114, 101);
}

#side-btn {
  background-color: rgb(34, 36, 38);
}

#dark-btn {
  border-style: none;
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  #left {
    background-color: rgb(34, 36, 38);
  }
}

.post {
  border-bottom-color: rgb(58, 62, 65);
}

.post-meta {
  color: rgb(168, 160, 149);
}

.post-meta li {
  border-left-color: rgb(58, 62, 65);
}

.post-meta li:first-child {
  border-style: none;
}

.post-near {
  color: rgb(168, 160, 149);
}

.archive-title {
  color: rgb(168, 160, 149);
}

.more a {
  border-style: none;
}

.page-navigator a:hover {
  background-color: rgb(34, 36, 38);
}

.page-navigator .current a {
  color: rgb(189, 183, 175);
  background-color: rgb(34, 36, 38);
}

.comment-list li {
  border-color: rgb(53, 57, 59);
}

.comment-list li.comment-level-odd {
  background-color: rgb(27, 27, 20);
}

.comment-list li.comment-level-even {
  background-color: rgb(24, 26, 27);
}

.comment-list li.comment-by-author {
  background-color: rgb(49, 36, 0);
}

.comment-meta a {
  color: rgb(168, 160, 149);
}

.comment-author {
  color: rgb(189, 183, 175);
}

.comment-list .respond {
  border-top-color: rgb(53, 57, 59);
}

#comment-form .required::after {
  color: rgb(255, 61, 61);
}

#footer a {
  color: inherit;
}

.post-content a img,
.comment-content a img {
  background-color: rgb(24, 26, 27);
}

.post-content hr,
.comment-content hr {
  border-color: rgb(54, 59, 61);
}

.vimvixen-hint {
  background-color: rgb(104, 75, 0) !important;
  border-color: rgb(158, 126, 0) !important;
  color: rgb(215, 212, 207) !important;
}

#vimvixen-console-frame {
  color-scheme: light !important;
}

::placeholder {
  opacity: 0.5 !important;
}

#edge-translate-panel-body,
.MuiTypography-body1,
.nfe-quote-text {
  color: var(--darkreader-neutral-text) !important;
}

gr-main-header {
  background-color: rgb(27, 73, 88) !important;
}

.tou-z65h9k,
.tou-mignzq,
.tou-1b6i2ox,
.tou-lnqlqk {
  background-color: var(--darkreader-neutral-background) !important;
}

.tou-75mvi {
  background-color: rgb(15, 58, 71) !important;
}

.tou-ta9e87,
.tou-1w3fhi0,
.tou-1b8t2us,
.tou-py7lfi,
.tou-1lpmd9d,
.tou-1frrtv8,
.tou-17ezmgn {
  background-color: rgb(30, 32, 33) !important;
}

.tou-uknfeu {
  background-color: rgb(67, 44, 9) !important;
}

.tou-6i3zyv {
  background-color: rgb(36, 93, 112) !important;
}

div.mermaid-viewer-control-panel .btn {
  background-color: var(--darkreader-neutral-background);
  fill: var(--darkreader-neutral-text);
}

svg g rect.er {
  fill: var(--darkreader-neutral-background) !important;
}

svg g rect.er.entityBox {
  fill: var(--darkreader-neutral-background) !important;
}

svg g rect.er.attributeBoxOdd {
  fill: var(--darkreader-neutral-background) !important;
}

svg g rect.er.attributeBoxEven {
  fill: var(--darkreader-selection-background);
}

svg rect.er.relationshipLabelBox {
  fill: var(--darkreader-neutral-background) !important;
}

svg g g.nodes rect,
svg g g.nodes polygon {
  fill: var(--darkreader-neutral-background) !important;
}

svg g rect.task {
  fill: var(--darkreader-selection-background) !important;
}

svg line.messageLine0,
svg line.messageLine1 {
  stroke: var(--darkreader-neutral-text) !important;
}

div.mermaid .actor {
  fill: var(--darkreader-neutral-background) !important;
}

mitid-authenticators-code-app>.code-app-container {
  background-color: white !important;
}

iframe#unpaywall[src$="unpaywall.html"] {
  color-scheme: light !important;
}

embed[type="application/pdf"][src="about:blank"] {
  filter: invert(100%) contrast(90%);
}

body {
  background-color: rgb(13, 14, 14);
}

a,
#dark-btn {
  color: rgb(208, 177, 97);
}

a:hover,
a:active {
  color: rgb(189, 183, 175);
}

pre,
code {
  background-color: rgb(9, 10, 10);
}

code {
  color: rgb(90, 190, 192);
}

pre code {
  color: rgb(189, 183, 175);
}

blockquote {
  border-color: rgb(134, 125, 110);
  color: rgb(168, 160, 149);
}

table {
  border-color: rgb(129, 120, 106);
}

table th,
table td {
  border-color: rgb(134, 125, 110);
}

table th {
  background-color: rgb(9, 10, 10);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  border-color: rgb(133, 123, 109);
}

.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-color: rgb(134, 125, 110);
}

#header,
#footer {
  background-color: rgb(14, 19, 84);
}

#outbox {
  background-color: rgb(13, 14, 14);
  border-color: rgb(62, 68, 70);
}

#side-btn {
  background-color: rgb(13, 14, 14);
}

@media screen and (max-width: 700px) {
  #left {
    background-color: rgb(13, 14, 14);
  }
}

.post {
  border-color: rgb(129, 120, 106);
}

.post-meta li {
  border-color: rgb(129, 120, 106);
}

.post-near {
  color: rgb(168, 160, 149);
}

.archive-title {
  color: rgb(168, 160, 149);
}

.page-navigator a:hover {
  background-color: rgb(13, 14, 14);
}

.page-navigator .current a {
  color: rgb(189, 183, 175);
  background-color: rgb(13, 14, 14);
}

.comment-list li {
  border-color: rgb(134, 125, 110);
}

.comment-list li.comment-level-odd {
  background-color: rgb(7, 7, 10);
}

.comment-list li.comment-level-even {
  background-color: rgb(0, 0, 0);
}

.comment-list li.comment-by-author {
  background-color: rgb(0, 5, 18);
}

.comment-meta a {
  color: rgb(168, 160, 149);
}

.comment-author {
  color: rgb(189, 183, 175);
}

.comment-list .respond {
  border-color: rgb(134, 125, 110);
}

#comment-form .required::after {
  color: rgb(61, 255, 255);
}

.post-content a img,
.comment-content a img {
  background-color: rgb(0, 0, 0);
}

.post-content hr,
.comment-content hr {
  border-color: rgb(133, 123, 109);
}